/* navigation buttons */
.button {
  color: rgb(57, 148, 148);
  background-color: rgb(238, 227, 214);
  text-align: center;
  padding: 4px 9px;
  border-radius: 5px;
  border-color: white;
  border: none;
  margin: 5px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  color: rgb(238, 227, 214);
  background-color: rgb(57, 148, 148);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.content-window {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
  display: inline-block;
}

.content-window > :first-child {
  margin-top: 0;
}

.content-window > :last-child {
  margin-bottom: 0;
}

.form-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1px 10px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar > :first-child {
  margin-top: 0;
}

.nav-bar > :last-child {
  margin-bottom: 0;
}

.login-form  {
  display: flex;
  align-items: center;
  gap: 5px;
}

.separate-boxes {
  display: flex;
  gap: 5px;
}